
#gameStatus {
    position: fixed;
    right: 0;
    height: 3em;
    width: 70%;
    background: #DDDDFF;
    text-align: left;
    font-family: sans-serif;
}

#gameStatus p {
    margin-left: 2em;
    margin-top: 0.8em;
}

#gameStatus.victory {
    background-color: #22BB22;
    color: white;
    text-transform: uppercase;
}

#gameStatus.draw {
    background-color: #2222BB;
    color: white;
    text-transform: uppercase;
}

#gameStatus.error {
    background-color: red;
    color: white;
}

#menu {
    position: fixed;
    left: 0;
    height: 3em;
    width: 30%;
    background: #DDDDFF;
    text-align: left;
    font-family: sans-serif;
}

#menu div {
    margin-left: 2em;
    margin-top: 0.8em;
}

#board {
    float: left;
    width: 59%;
    margin-top: 3em;
}

#board table {
    margin-left: auto;
    margin-right: auto;
    background: wheat;
}

#board td.coordNumber {
    padding-left: 0.5em;
    padding-right: 0.5em;
    vertical-align: middle;
}

#board td.coordLetter {
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

#board td.white {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
}

#board td.black {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: gray;
}

#board td.selected {
    background-color: #BBBBFF;
}

#board td.threat {
    background-color: red;
}

#moves {
    float: right;
    width: 20%;
    margin-top: 3em;
}

#moves table {
    margin-top: 0.8em;
    margin-left: 1em;
}

#moves td {
    padding-top: 0.2em;
    padding-right: 1em;
    font-size: small;
    font-family: sans-serif;
}

#capturedPieces {
    float: left;
    width: 20%;
    margin-top: 3em;
}

#capturedPieces table {
    float: right;
    margin-top: 0.8em;
    margin-right: 1em;
}

#capturedPieces td {
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
}

#capturedPieces img {
    width: 25px;
    height: 25px;
}

footer {
    clear: both;
    padding-top: 1em;
    padding-left: 1em;
}
