
#board {
    float: left;
    margin: 1em 2em 1em 2em;
    border: 2px solid black;
}

#board td.coordNumber {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#board td.coordLetter {
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

#board td.white {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
}

#board td.black {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: gray;
}

#board td.selected {
    background-color: #BBBBFF;
}

#board td.threat {
    background-color: red;
}

#moves table {
    float: left;
    border: 1px solid black;
    padding: 0.8em 0.5em 0.8em 0.5em;
}

#moves td {
    padding: 0em 0.5em 0em 0.5em;
}

#capturedPieces table {
    margin: 1em 0em 1em 2em;
}

#capturedPieces td {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: #CCCCCC;
}

footer {
    clear: both;
    border-top: 1px solid black;
}

p.victory {
    background-color: #22BB22;
    color: white;
}

p.draw {
    background-color: #2222BB;
    color: white;
}
